<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib2/css/bootstrap.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-nav navbar-expand-lg navbar-toggler bg-success border-dark">
            <a asp-controller="Home" asp-action="Index">Da Bois</a>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MccordBooks
        </div>
    </footer>
</body>
</html>
