@page "/admin/books"
@page "/admin"

@inherits OwningComponentBase<IBooksRepository>

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>Book ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
        @if (BookData?.Count() > 0)
            {
                @foreach (Book b in BookData)
                {
                    <tr>
                        <td>@b.BookId</td>
                        <td>@b.Title</td>
                        <td>@b.Author</td>
                        <td>@b.Price</td>
                    </tr>
                }
        }
        else
            {
                <tr>
                    <td colspan="5" class="text-center">No Books</td>
                </tr>
            }
    </tbody>

</table>

@code {
    public IBooksRepository repo => Service;

    public IEnumerable<Book> BookData { get; set; }
    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        BookData = await repo.Books.ToListAsync();
    }
}
