@page "/admin/projects/edit/{id:long}"
@page "/admin/projects/create"
@inherits OwningComponentBase<IBooksRepository>


<style>
    div.validation-message {color: deeppink; font-weight:500}
</style>

<h3 class="bg-@ThemeColor text-white text-center p-1">@TitleText a Book</h3>

<EditForm Model="b" OnValidSubmit="SaveBook">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    @if (b.BookId != 0)
                {

                }

</EditForm>




@code {
    [Parameter]
    public long Id { get; set; } = 0;

    public string ThemeColor => Id == 0 ? "primary" : "warning";

    public string TitleText => Id == 0 ? "Insert" : "Edit";

    public Book b { get; set; } = new Book();

    public IBooksRepository repo => Service;

    protected override void OnParametersSet()
    {
        if (Id != 0)
        {
            b = repo.Books.FirstOrDefault(x => x.BookId == Id);
        }

    }

    public void SaveBook()
    {
        if (Id == 0)
        {
            repo.CreateBook(b);
        }
        else
        {
            repo.SaveBook(b);
        }
    }

    [Inject]
    public NavigationManager NavManager { get; set; }
}
