@page "/admin"
@model MccordMission7.Pages.Admin.IndexModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Bookstore Admin</title>
    <link href="~/lib2/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>
<body>
    <h3>Administration Account</h3>
</body>
</html>
