@{
}
@model Cart
<div class="">
    @if (Model.Carts.Count() > 0)
            {
                <small class="navbar-text">
                    <b>Your cart:</b>
                    @Model.Carts.Sum(x=> x.Quantity) item(s)
                    @Model.CalculateSub().ToString("c")
                </small>
            }
    <a class="btn btn-sm btn-secondary navbar-btn" asp-page="/Buying"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="btn-dark btn-outline-info"></i>
    </a>


</div>