@page
@model MccordMission7.Pages.IndexModel
@{
}

<div class="text-center">
    <h2>Thank you! Your order will be shipped shortly!</h2>
    <a class="btn btn-primary" asp-controller="Home">Welcome back Home!</a>
</div>